body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #74b9ff, #0984e3);
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2d3436;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px;
    padding: 20px 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #0984e3;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    color: #2d3436;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dfe6e9;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f1f2f6;
}

input[type="text"]:focus, 
input[type="password"]:focus {
    outline: none;
    border-color: #74b9ff;
    box-shadow: 0 0 5px rgba(116, 185, 255, 0.5);    
}

button {
    background: #0984e3;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #74b9ff;
}

#lottie-animation {
    width: 300px;
    height: 300px;
    margin: 0 auto 20px;
}

.register-link {
    margin-top: 15px;
    text-align: center;
}

.register-button {
    color: #0984e3;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.register-button:hover {
    color: #74b9ff;
}




@media (max-width: 600px) {
    .container {
        padding: 15px;
        width: 90%;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 12px;
    }

    button {
        font-size: 14px;
    }
}

